body {
    background-color: rgb(1, 1, 58);
}

.content {
    color: aliceblue;
}

h1 {
    color: goldenrod;
}

.parent {
    background-color: rgb(7, 155, 171);
    padding: 5px;
}

.row {
    margin: 5px;
    font-size: 0;
    padding-left: 15px ;
}

.place {
    display: inline-block;
    width: 49%;
    margin: 5px 0;
    font-size: 16px;
}

.place-content {
    display: inline-block;
    width: 40%;
    padding-right: 15px;
}

.place img {
    display: inline-block;
    width: 300px;
}
